@font-face {
    font-family: 'rams';
    src: url("fonts/Rams.otf");
}

@font-face {
    font-family: 'rams-bold';
    src: url("fonts/Rams-Bold.otf");
}

@font-face {
    font-family: 'rams_black';
    src: url("fonts/RamsBlack.otf");
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0px;
    background-color: #ebecee;
}

p {
    letter-spacing: 2px;
    font-family: 'rams';
}



.site-wrapper {
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
}


h1 {
    color: #bfbfbf;
    font-family: 'rams-bold';
    font-size: 40px;
}

h1:hover {
    animation: animar-texto 1s ease-in-out 1 normal both;
}

h2 {
    align-self: center;
    display: flex;
    align-items: center;
    color: #e9ecef;
    flex-direction: column;
    z-index: 2;
    font-size: 45px;
}


.col-md-6 {
    padding: 0px;
}

#top-profile {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1f5986;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 66%;
}

  #top-profile:hover {
    background-color: #555;
  }


/*1. Home Profile*/

.home-profile {
    background-image: url(img/pexels-junior-teixeira-2047905.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
}

main {
    width: 90%;
    height: 90%;
    background-color: rgb(15 21 50 / 75%);
    align-self: center;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}



nav.main-nav.nav-profile {
    width: 100%;
    position: absolute;
    bottom: 0;
}

nav.main-nav.nav-profile ul {
    text-align: center;
    list-style: none;
}

nav.main-nav.nav-profile li {
    display: inline-block;
}


.main-nav ul li::after {
    content: '/';
    padding: 0 12px 0 9px;
    color: #ffffff;
}

.nav-item {
    color: #ffffff;
    font-family: 'rams_black';
}

@keyframes animar-texto {
    from {
        transform: scale3d(1, 1, 1);
    }

    40% {
        transform: scale3d(.75, 1.25, 1);
        color: #c56565;
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);

    }
}

/*--Div qur tienen todos las sections para centrar texto--*/

.info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 10%;
    align-content: center;
    flex-direction: column;
}


.fas:before {
    font-size: 23px;
    padding: 10px;
}


/*---2. Description Profile--*/

.banner-about-color {
    background-image: linear-gradient(90deg, #416a91, #3d9fa8);
    height: 100vh;
}


.img-circle {
    width: 51%;
    border-radius: 50%;
    opacity: 0.4;
    transition: opacity 1s;
}


.img-circle:hover {
    opacity: 1;
}


.panel.panel-personal .panel-heading {
    background: #1d568dd1;
    padding: 10px;
    color: #fff;
}


.panel.panel-personal .panel-body {
    padding: 20px;
    color: #e9ecef;
    font-size: 15px;
}



.panel.panel-personal {
    box-shadow: rgb(0 0 0) 2px 3px 13px;
    border: 2px solid #1d568dd1;

}


.panel {
    margin-bottom: 10%;
    box-shadow: rgb(153 153 153) 2px 3px 13px;
}



/*-- Segunda columna description y conocimiento primera columna--*/

.colum-texto {
    height: 100vh;
    overflow-y: auto;
}

.panel.panel-introduction {
    border: 2px solid #3d9fa8bf;
}

.panel.panel-introduction .panel-heading {
    background: #3d9fa8bf;
    padding: 10px;
    color: #e9ecef;
}


.panel.panel-introduction .panel-body {
    padding: 20px;
    color: rgb(66, 65, 65);
    font-size: 15px;
    font-family: 'rams';
}

::marker {
    color: #3d9fa8bf;
    font-size: 20px;
}



/* 3 Section Conocimientos*/

.card-conocimiento {
    padding: 19px;
    width: 80%;
    height: auto;
    background: #fff;
    border-radius: 16px;
    -webkit-box-shadow: 2px 3px 13px #999;
    -moz-box-shadow: 2px 3px 13px #999;
    box-shadow: 2px 3px 13px #999;
    margin: auto;
    margin-bottom: 35px;
}


.card-conocimiento p {
    font-weight: bolder;
}

.card-conocimiento.card-html p {
    color: #f8737c;
}

.card-conocimiento.card-css p {
    color: #6cacdc;
}

.card-conocimiento.card-scss p {
    color: #cd6699;
}

.card-conocimiento.card-ftl p {
    color: #224cbe;
}

.card-html span {
    background-color: #f8737c;
}

.card-css span {
    background-color: #6cacdc;
}

.card-scss span {
    background-color: #cd6699;
}

.card-scrum span {
    background-color: #dc9600;
}

.card-api span {
    background-color: #808f97;
}

.card-conocimiento.card-api p {
    color: #808f97;
}


.card-conocimiento.card-js p {
    color: #546c7c;
}

.card-conocimiento.card-scrum p {
    color: #dc9600;
}

.card-conocimiento.card-occ p {
    color: #fbb40e;
}

.card-conocimiento.card-liferay p {
    color: #4c94c3;
}

.card-liferay span {
    background-color: #4c94c3;
}


.card-js span {
    background-color: #546c7c;
}

.card-ftl span {
    background-color: #224cbe;
}

.card-occ span {
    background-color: #fbb40e;
}

.fa-laptop-code:before {
    font-size: 40px;
    content: "\f5fc";
    color: #224cbe;
}

.info-card-cono {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.iconos-tecnologias {
    width: 27%;
    height: 55px;
}

.progress-bar {
    background-color: #d0d1d1;
    height: 15px;
    width: 80%;
    border-radius: 5px;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
}



/* 3 Section 2 columna*/

.banner-conocimiento-profile {
    background-image: linear-gradient(90deg, #591412, #b6351c);
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}


.img-conocimiento {
    width: 20%;
    position: absolute;
    top: 35%;
    right: 50%;
    transform: rotate(-31deg);
    border-radius: 50%;

}


/* 4 Section Proyectos*/

#proyectos{
    background-image: linear-gradient(90deg, #0b1024 , #331b29);
}

#proyectos p {
    font-family: 'rams';
    font-size: 30px;
    font-weight: lighter;
    color: rgb(204, 203, 203);
}

.galeria{
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}

img.img-proyectos {
    border: 1px solid #828282;
    width: 100%;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    z-index: 0;

}

img.img-proyectos:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}


.col-img{
    transition: transform .2s; /* Animation */
    z-index: 0;
    margin: auto;

}

.col-img:hover{
    transition: transform .2s; /* Animation */
    transform: scale(1.2);
    z-index: 1;
}

.col-img:active{
    transform: rotateY(180deg);

}



/* 5 Section Certificados*/

i.fas.fa-cloud-download-alt {
    color: aliceblue;
}

i.fas.fa-cloud-download-alt:hover {
    color: rgb(123, 170, 211);
}

 section#certficaciones table{
    font-size: 16px;
    font-family: 'rams';
    font-weight: lighter;
    color: #eff3f3;
}













































